@mixin box() {
	background: $transwhite;
	border: solid 2px $transblack;
}

@mixin clearfixed () {
	&:after {
		display: table;
		content: " ";
		clear: both;
	}
}

//css rule but you apply extend to it
//exted ends up with less mark up produced
.clearfixed {
	&:after {
		display: table;
		content: " ";
		clear: both;
	}
}

